@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:visited {
  color: inherit;
}
body {
  background: rgb(243, 241, 241);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(20, 20, 20);
}

a {
  color: rgb(84, 118, 180);
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 36px;
}

html {
  font-size: calc(16px + ((100vw - 320px) / 680));
}

.portrait-image {
  box-shadow: 1px 1px 4px rgb(19, 17, 17);
  position: relative;
}

.portrait-image > img {
  width: 100%;
  height: auto;
}
.name {
  position: absolute;
  bottom: 2rem;
  color: aliceblue;
  font-size: 3.5rem;
  text-align: center;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

header {
  padding: 2rem;
}

.about-text h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

.about-card {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.diagonal-background {
  background: rgb(76, 133, 219);
  height: 400px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
}

.icons {
  justify-content: center;
  gap: 1.4rem;
  font-size: 34px;
  margin-top: 1rem;
  color: black;
}

.my-work > h1 {
  margin-bottom: 20px;
}
/* img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
} */

.about-me {
  /* padding: 24px; */
  margin-top: 50vw;
}

h1 {
  text-align: center;
}

.cards {
  align-items: center;
  gap: 36px;
  margin-bottom: 50px;
}

.card {
  width: 80vw;
  height: 100vw;
  box-shadow: inset;
  box-shadow: 1px 1px 4px rgba(19, 17, 17, 0.3);
}

.card img {
  width: 80vw;
  height: auto;
}

.card-description {
  padding: 16px;
}

.card-title > h3 {
  margin-right: auto;
  margin-bottom: 8px;
}

.card-icons {
  gap: 10px;
  font-size: 20px;
}

.card-icons > img {
  width: 22px;
  height: auto;
  transform: translateY(-16%);
}

.contact {
  background: rgb(76, 133, 219);
  gap: 18px;
  color: rgb(242, 243, 245);
}

.contact-body {
  gap: 18px;
}

.contact-text > h2 {
  color: rgb(242, 243, 245);
}

.contact-body > p {
  font-size: 18px;
}

.contact-text {
  padding: 40px;
}

.contact-icons {
  justify-content: center;
  gap: 18px;
  font-size: 28px;
  color: black;
}

.footer-img {
  width: 100%;
  height: auto;
}

@media (min-width: 600px) {
  h1 {
    font-size: 36px;
  }
  .about-card {
    margin: 100px 50px 50px 50px;
    background: rgb(247, 244, 244);
    box-shadow: 1px 1px 4px rgba(19, 17, 17, 0.3);
    padding: 30px;
    display: block;
  }

  .portrait-image {
    width: 20vw;
    transform-origin: bottom right;
    float: left;
    transform: scale(140%);
    margin: 0 16px 16px 0;
  }

  .name {
    font-size: 32px;
  }

  .about-text {
    text-align: justify;
  }
  .my-work {
    padding: 34px;
  }
  .my-work > h1 {
    text-align: left;
  }
  .cards {
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 150px;
  }

  .card {
    width: 100%;
    height: auto;
  }

  .contact {
    display: flex;
    flex-direction: row;
  }

  .contact-text {
    gap: 28px;
  }
  .contact-body {
    gap: 28px;
  }
  .contact-image {
    margin: 50px 50px 50px auto;
    float: right;
    width: 300px;
    height: auto;
  }

  .contact-icons {
    justify-content: left;
  }
}

@media (min-width: 1000px) {
  .portrait-image {
    transform-origin: center right;
    float: left;
     transform: scale(150%); 
  }


  .about-card {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1;
    width: max(50vw, 800px);
    margin-inline: auto;
    grid-row-gap: 0;
  }

  .about-text {
    margin-bottom: 12px;
  }

  .icons {
    grid-column: 2;
    justify-self: right;
    font-size: 24px;
    margin-top: -4rem;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }

  .my-work {
    padding: 5rem 5rem;
  }

  .my-work > h1 {
    margin-top: 48px;
    text-align: center;
  }
  
  .cards {
    margin-top: 48px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 400px));
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    gap: 40px;
    grid-row-gap: 60px;
    width: 100%;
  }

  .contact-image {
    height: auto;
    width: auto;
  }
  .footer-img {
    object-fit: cover;
    width: 500px;
    height: 300px;
  }

}